
Please enter your first and last name, and a correct password.

<form method="post" action="/index">
	First: <input type="text" name="first_name" /> </br>
	Last: <input type="text" name="last_name" /> </br>
	Password: <input type="password" name="password" /> </br>
	<input type="submit" value="Select"/>
</form>


