Please select the action you would like to perform.

<form method="post" action="/radio_buttons">
	<input type="hidden" name="first_name" value="first"/> </br>
	<input type="hidden" name="last_name" value="last"/> </br>
	<input type="hidden" name="password" value="pass" /> </br>
    <input type="radio" name="radio" value="addition" /> Addition </br>
    <input type="radio" name="radio" value="subtract" /> Subtraction </br>
    <input type="radio" name="radio" value="multiply" /> Multiplication </br>
    <input type="radio" name="radio" value="divide" /> Division </br>
    <input type="submit" value="Select"/>
</form>