Please select the action you would like to perform.

<form method="post" action="/radio_buttons">
	<input type="hidden" name="first_name" value="first"/> 
	<input type="hidden" name="last_name" value="last"/> 
	<input type="hidden" name="password" value="pass" /> 
    <input type="radio" name="radio" value="plus" /> Addition </br>
    <input type="radio" name="radio" value="-" /> Subtraction </br>
    <input type="radio" name="radio" value="*" /> Multiplication </br>
    <input type="radio" name="radio" value="/" /> Division </br>
    <input type="submit" value="Select"/>
</form>