
Sorry <%=first%> <%=last%>, you have entered the wrong password. </br>
Please try again. </br>

<form method="post" action="/index">
	<input type="hidden" name="first_name" value="first" /> </br>
	<input type="hidden" name="last_name" value="last" /> </br>
	Password: <input type="password" name="password" /> </br>
	<input type="submit" value="Select"/>
</form>


